{% extends "base.html" %}

{% block title %}Export{% endblock %}

{% block content %}
    <h2 class="text-center">Export Returns Data</h2>
    <form method="POST" action="{{ url_for('export') }}" class="text-center">
        <div class="form-group d-flex justify-content-center align-items-center">
            <label for="start_date" class="mr-3" style="font-weight: bold; font-size: 1.1em; vertical-align: middle;">Date Range from:</label>
            <input type="date" name="start_date" id="start_date" class="form-control w-auto mr-4" required min="2023-01-01" max="2025-12-31">
            <label for="end_date" class="mr-3" style="font-weight: bold; font-size: 1.1em; vertical-align: middle;">to:</label>
            <input type="date" name="end_date" id="end_date" class="form-control w-auto" required min="2023-01-01" max="2025-12-31">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Export as CSV</button>
    </form>
{% endblock %}